body{
background-color: #000000;
}
h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
}
#QuizBtn1 {
  display: block;
  margin: 20px auto;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(149, 149, 149);
  border: none;
  width: 500px;
  transition: transform 0.25s, background-color 0.25s;
}
#QuizBtn2 {
  display: block;
  margin: 20px auto;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  width: 500px;
  transition: transform 0.25s, background-color 0.25s;
}
#QuizBtn3 {
  display: block;
  margin: 20px auto;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #0d00ff;
  color: white;
  border: none;
  width: 500px;
  transition: transform 0.25s, background-color 0.25s;
}


#QuizBtn1:hover {
  transform: scale(1.05);
  background-color: #ffffff;
}
#QuizBtn2:hover {
  transform: scale(1.05);
  background-color: #ff0000;
}
#QuizBtn3:hover {
  transform: scale(1.05);
  background-color: #0400ff;
}
#controleerBtn,
#volgendeBtn,
#autoCorrectBtn {
transition: transform 0.25s ease, background-color 0.25s ease;
}
input[type="text"],
input[type="number"] {
  display: block;
  margin: 12px auto;
  padding: 12px 16px;
  width: 470px;
  border-radius: 15px;
  border: none;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

}




#verstuur {
  display: block;
  margin: 25px auto;
  padding: 14px 28px;
  width: 420px;
  border: none;
  border-radius: 20px;


  
  transition: all 0.3s ease;
}

#verstuur:hover {
  transform: scale(1.05);
  background-color: #ffffff;

}

p{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}