body {
    background-color: rgb(125, 125, 126);
}


.knoppen {
    
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    color: rgb(125, 125, 126);
    border: 1px solid white;
    background-color: white;
}

p {
    text-align: center;
    color: white;
}

.vraag {
    text-align: center;
    color: white;
}